.cont-col{
    background-color:#FFFFFFFF !important;
    padding: 2px;
    box-shadow: 0px 5.333333492279053px 5.333333492279053px 0px #00000040;
}
.souss {
    width: 100%;
    border-bottom: 2px solid gray;
    padding: 15px;
}
.touts{
    font-family: Montserrat;
font-size: 18px;
font-weight: 700;
line-height: 14px;
letter-spacing: 0em;
text-align: left;

}
.def-mar{
    margin-bottom: 2%;
    ;
}
.fontlab{
    /* font-family: Montserrat; */
font-size: 15px;
font-weight: 700;
line-height: 14px;
letter-spacing: 0em;
text-align: left;
color: #505050;

}
.filtre{
    /* font-family: Montserrat; */
font-size: 16px;
font-weight: 600;
line-height: 26px;
letter-spacing: 0em;
text-align: left;

}
.catego{
    /* font-family: Montserrat; */
font-size: 17px;
font-weight: 700;
line-height: 14px;
letter-spacing: 0.01em;
text-align: left;
color: #959597;

}
.atelier span{
    /* font-family: Montserrat; */
font-size: 24px;
font-weight: 700;
line-height: 34px;
letter-spacing: 0em;
text-align: left;


}
.atelier {
/* font-family: Montserrat; */
font-size: 24px;
font-weight: 200;
line-height: 34px;
letter-spacing: 0em;
text-align: left; 
}
.dwrap{
    display: flexbox;
    flex-wrap: wrap;
}
