

.img-fond{
    position: absolute;
    top: 0px;
    right: 0;
    bottom: 100px;
}

.text-para{
    z-index: 1;
    margin-bottom: 15rem;
}
.input{
    display: flex;
    align-items: center;
    width: 2rem;
}
.btn-select{
    display: flex;
width: 466.667px;
height: 64px;
padding: 16px 21.333px;
justify-content: center;
align-items: center;
gap: 299px;
flex-shrink: 0;
}


.form-select {
border-radius: 0 !important;
outline: none ;
}
.btn2{
    border-radius: 0 !important;
    display: inline-flex;
height: 64px;
padding: 20px 70.98px 20px 70.58px;
justify-content: center;
align-items: center;
border-radius: 0px 4.267px 4.267px 0px;
background: #ED0006;
color:#FFFFFF;
flex-shrink: 0;
outline: none;
border: none;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 700px) {

.btn-select{
    display: flex;
width: 106.667px;
height: 44px;
font-size: 17px;
padding: 10px 30.98px 10px 30.58px;
justify-content: center;
align-items: center;
gap: 299px;
flex-shrink: 0;
}s
.btn2{
    border-radius: 0 !important;
    display: inline-flex;
height: 44px;
padding: 15px 30.98px 15px 30.58px;
justify-content: center;
align-items: center;
background: #ED0006;
color:#FFFFFF;
flex-shrink: 0;
font-size: 17px;
outline: none;
border: none;
}
.text-para h1{
    z-index: 1;
      

    font-size: 22px;
}
.text-para p{
    z-index: 1;
   
    font-size: 16px;
}


}

