.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #E72D32 !important;
    --bs-btn-border-color: #E72D32;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #E72D32;
    --bs-btn-hover-border-color: #E72D32;
    --bs-btn-focus-shadow-rgb: 49,132,253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #E72D32;
    --bs-btn-active-border-color: #E72D32;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: ##E72D32;
    --bs-btn-disabled-border-color: ##E72D32;
     outline: #E72D32 !important;
     
}
.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg:#E72D32 !important;
    --bs-btn-border-color: #E72D3 !important;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #E72D32 !important;
}
.bnt-cristo{
  color: #FFF;
text-align: center;
font-family: Arial;
font-size: 18.667px;
font-style: normal;
padding: 10px;
font-weight: 400;
line-height: 18.667px; /* 100% */
text-transform: uppercase;
border-radius: 66.667px;
background: #E72D32;
border: none;
}
.btn1{
    background-color: transparent !important;
    color: #E72D32 !important;
    margin-left: 2px;
    outline: #E72D32 !important;
    border: #E72D32 2px solid !important;
    border-radius: 66.667px;
    border: 1.333px solid #E72D32;
}
.nav{
    
    margin-left: 20%;
}
.logo{
   width: 6rem;

}
  /* font-family: Montserrat; */
    .page{
  color: var(--Dark, #072125);
    margin :12px ;
    font-size: 21.333px;
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 32px */
}
.page:hover{
    color: #E72D32;
      margin :12px ;
      font-size: 21.333px;
      text-decoration: none;
      font-style: normal;
      font-weight: 400;
      line-height: 150%; /* 32px */
  }
  .page:focus{
    color: #E72D32;
    margin :12px ;
    font-size: 21.333px;
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 32px */
  }
.bg-body-tertiary {
    background-color: #FFFFFF !important;
    box-shadow: 0px 5.333333492279053px 5.333333492279053px 0px #00000040;
      
}
