



.carrousel-dark{
   
    z-index: 2 !important ;
    width: 100%;
    height: 100%;
    position: relative;
}


.cont-im-background{
    width: 100%x;
    height:70rem;
}
.cont-row{
   
    margin-top: 15%;
}

.bask-im {
    width: 100%;
    height: 100%;
    z-index: +10 !important;
     background-image: url("../../asset/Dark.png") !important; 
    z-index: 10 !important;
    background-size: cover; 
    object-fit: cover;
    background-repeat: no-repeat; 

}
.cont-text-car-glab  {
    display: flex;
    flex-direction: column;
    align-items: center;
     margin-top: 15%;
  
}

.rec{
    margin-top: 28%;
    width: 30rem;
height: 25rem;
flex-shrink: 0;
    border-radius: 34.936px;
    border: solid 15px  rgba(85, 87, 93, 0.081);

   backdrop-filter: blur(20px);
background-blend-mode: multiply;
background-color: rgba(50, 51, 58, 0.579);
}
.text-ipsum{
    color: #FFF;
text-align: center;
/* font-family: Montserrat; */
font-size: 13.974px;
font-style: italic;
font-weight: 400;
line-height: 26.551px; /* 190% */
letter-spacing: 0.419px;
}
.center1{
    color: #E0E0E0;
text-align: center;
font-family: Montserrat;
font-size: 13.275px;
font-style: normal;
font-weight: 500;
line-height: 22.359px; /* 168.421% */
letter-spacing: 0.664px;
text-transform: uppercase;
}
.center2{
    color: #B6BCCC;
text-align: center;
font-family: Montserrat;
font-size: 12.577px;
font-style: normal;
font-weight: 300;
line-height: 22.359px; /* 177.778% */
}
.icon-double{
    color: #E72D32;
    font-size: 1.9rem;
}


@media only screen and (max-width: 800px) {
   
    .rec{
        margin-top: 5%;
        width: 22rem;
    height: 20rem;
    flex-shrink: 0;
        border-radius: 34.936px;
        border: solid 15px  rgba(85, 87, 93, 0.081);
    
       backdrop-filter: blur(11px);
    background-blend-mode: multiply;
    background-color: rgba(50, 51, 58, 0.579);
    }
    .cont-text-car-glab  {
        display: flex;
        flex-direction: column;
        align-items: center;
         margin-top: 1%;
        
          height: 45%;
    }
    .text-ipsum{
        color: #FFF;
    text-align: center;
    /* font-family: Montserrat; */
    font-size: 12.974px;
    font-style: italic;
    font-weight: 300;
    line-height: 17.551px; /* 190% */
    letter-spacing: 0.419px;
    }
  }